.vscode/**
1 - Pig Latin/piglatin
1 - Pig Latin/tempCodeRunnerFile.c
1 - Pig Latin/test_pig
1 - Pig Latin/piglatin.dSYM/**
2 - Shuffle/demo_shuffle
2 - Shuffle/quality
2 - Shuffle/tempCodeRunnerFile.c
2 - Shuffle/riffle.dSYM/**
.vscode/c_cpp_properties.json
.DS_Store
3 - byn/tempCodeRunnerFile.c
3 - byn/shuffle
3 - byn/output/*
3 - byn/beggar
3 - byn/demo_shuffle
3 - byn/beggar.dSYM/**
3 - byn/byn.dSYM/**
3 - byn/single
3 - byn/byn
2 - Shuffle/quality.dSYM/Contents/Info.plist
